[Unit]
Description=OAKCRED.GLOBAL - Macro-Stability AI Engine
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/oakcred
Environment="PATH=/home/ec2-user/oakcred/venv/bin"
Environment="TMPDIR=/home/ec2-user/oakcred/tmp"
ExecStart=/home/ec2-user/oakcred/venv/bin/uvicorn --host 0.0.0.0 --port 8000 --app-dir backend main:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
